<!-- <mat-toolbar style="background-color: rgb(223, 223, 223);"> -->

  <mat-toolbar>
  <button mat-icon-button (click)="idSideNav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="spacer"></span>

  <button mat-icon-button >
    <mat-icon>apps</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>accessibility</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <!-- <button mat-menu-item (click)="solicitarPermisosPush()">
      <mat-icon mat-list-icon>security</mat-icon> Notificar
    </button> -->
    <button mat-menu-item (click)="home()">
      <mat-icon mat-list-icon>update</mat-icon> Volver al home
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon mat-list-icon>logout</mat-icon> Salir
    </button>
  </mat-menu>

  <code>{{resultado | json}}</code>

</mat-toolbar>


