<h1 mat-dialog-title>Cambio de contraseña #{{usuario.id}}</h1>


<form [formGroup]="frmUsers" >
  <input type="hidden" formControlName="id">
  <div fxLayout="row"
  fxLayout.xs="column"
  >

      <div fxFlex="100"
          fxLayout="column">


          <div fxLayout="row"  >

            <mat-form-field fxFlex="100" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput
                    formControlName="password"
                    placeholder="******"
                    type="{{ hide ? 'password': 'text'}}">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off':'visibility'}}</mat-icon>
              <mat-error *ngIf="isValidField('password')">{{getMessageError('password')}}</mat-error>

            </mat-form-field>



          </div>

          <div fxLayout="row"  >

            <mat-form-field fxFlex="100" appearance="outline">
              <mat-label>Confirmar Contraseña</mat-label>
              <input matInput
                    formControlName="passwordConfirm"
                    placeholder="******"
                    type="{{ hide ? 'password': 'text'}}">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off':'visibility'}}</mat-icon>
              <mat-error *ngIf="isValidField('passwordConfirm')">{{getMessageError('passwordConfirm')}}</mat-error>

            </mat-form-field>



          </div>



      </div>

  </div>



  <div fxLayout="row wrap">
    <span fxFlex></span>
    <div mat-dialog-actions >
      <button mat-raised-button (click)="onNoClick()" >Cerrar</button>
      <button mat-raised-button (click)="updatePassword()" [disabled]="isValidform()" color="primary" >Guardar</button>
    </div>
  </div>

</form>
