<h1 mat-dialog-title>Actulizar usuario #{{usuario.id}}</h1>

<mat-dialog-content>

  <form [formGroup]="frmUsers" autocomplete="off">
    <input type="hidden" formControlName="id">
    <div fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="30px">

      <div fxFlex="100"
          fxLayout="column">


          <div fxLayout="row" fxLayoutGap="30px">

            <mat-form-field fxFlex="100" appearance="outline">
              <mat-label>Nombre(s)</mat-label>
              <input matInput
                    formControlName="nombre"
                    placeholder="Nombre(s)"
                    type="text">
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="isValidField('nombre')">{{getMessageError()}}</mat-error>

            </mat-form-field>

          </div>

          <div fxLayout="row"
               fxLayout.sm="column"
               fxLayout.xs="column"
               fxLayoutGap="30px"
               fxLayoutGap.sm="0px"
               fxLayoutGap.xs="0px">
            <mat-form-field fxFlex="100" appearance="outline">
              <mat-label>Apellido Paterno</mat-label>
              <input matInput
                    formControlName="apellidoP"
                    placeholder="Apellido Paterno"
                    type="text">
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="isValidField('apellidoP')">{{getMessageError()}}</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="100" appearance="outline">
              <mat-label>Apellido Materno</mat-label>
              <input matInput
                    formControlName="apellidoM"
                    placeholder="Apellido Materno"
                    type="text">
              <mat-icon matSuffix>person</mat-icon>

            </mat-form-field>

          </div>

          <div fxLayout="row" >

            <mat-form-field fxFlex="100" appearance="outline">
              <mat-label>Correo</mat-label>
              <input matInput
                    formControlName="correo"
                    placeholder="Correo"
                    type="email">
              <mat-icon matSuffix>mail</mat-icon>
              <mat-error *ngIf="isValidField('correo')">{{getMessageError('correo')}}</mat-error>

            </mat-form-field>

          </div>

          <div fxLayout="row">

            <mat-form-field fxFlex="100" appearance="outline">
              <mat-label>Telefono</mat-label>
              <input matInput
                    formControlName="telefono"
                    placeholder="Telefono"
                    type="text">
              <mat-icon matSuffix>call</mat-icon>
            </mat-form-field>

          </div>


          <div fxLayout="row" >

            <mat-form-field fxFlex="100" appearance="outline">
                <mat-label>Empresa</mat-label>
                <mat-select
                  formControlName="empresaId">
                  <mat-option *ngFor="let empresa of empresas" [value]="empresa.id">{{empresa.razonSocial | uppercase}}</mat-option>
                </mat-select>
                <mat-icon matSuffix>business</mat-icon>
                <mat-error *ngIf="isValidField('empresaId')">{{getMessageError('empresaId')}}</mat-error>

            </mat-form-field>

          </div>




      </div>


    </div>


  </form>

</mat-dialog-content>


<mat-dialog-actions fxLayoutAlign="end">
  <button mat-raised-button (click)="onNoClick()" >Cerrar</button>
  <button mat-raised-button (click)="updateUser()" [disabled]="isValidform()" color="primary" >Guardar</button>
</mat-dialog-actions>

